
body { 
    background-image: url(pic1.jpg);
    background-size: cover;
    background-color: rgb(190, 157, 95);

}
h1{
    text-align: center;
    color: white;
     
}
#div2 {
    
    border-radius: 20px;
    width: 100%;
    text-align: center;
    position: fixed;
    top: 0;
    background-image: url(pic3.jpg);
    background-size: cover;
    text-decoration:white;
}
#p1 {
    color: blue;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}
h2{
    color: brown;
    text-align: center;
}
#p2{
    font-size: 20px;
    color:white;
    text-align: center;
}
#div1{
    color: black;
    position: relative;
    top: 100px;
    
    border-width: 50px;
    border-radius: 100px;
    height: 700px;
}
#div3{
    border-radius: 20px;
    width: 100%;
    position: relative;;
    bottom: -10px;
    
    
    height: 80px;
    background-image: url(pic3.jpg);
    background-size: cover;
    background-repeat: 0;
}
section{
    display: inline;
}
#box1{
    border: black;
}
